html {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #abc270;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 40%;
  opacity: 88%;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.icon {
  padding: 8px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

table {
  border: #000000;
  border-width: 1px;
  border-style: solid;
  padding: 30px;
  border-spacing: 0px;
  width: 100%;
 
}

th.sidebar {
  text-align: left;
  vertical-align: top;
  padding: 25px;
  padding-top: 30px;
  background-color: #ffd56f;

  font-size: 9pt;
}

tr {
  background-color: #ffffff;
}

td.intro {
  font-family: "Times New Roman", Times, serif;
  color: #473c33;
  font-size: 14pt;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
  font-style: italic;
  text-align: left;
}

td.description {
  color: #404040;
  font-size: 12pt;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
  display: block
}

td.heading {
  cursor: pointer;
  background-color: #fec868;
  padding: 5px;
  padding-left: 10px;
  border: #ffffff;
  border-width: 8px;
  border-style: solid;
  max-height: 15px;
}

td.heading:hover {
  background-color: #fda769;
}

b {
  font-family: Arial, Helvetica, sans-serif;
  color: #473c33;
}

.duration {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-style: italic;
  padding-top: 3px;
  padding-bottom: 8px;
}

.tags {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-style: italic;
  padding-top: 3px;
  padding-bottom: 8px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28pt;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #473c33;
}

hr {
  max-width: 60%;
  color: #fec868;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}