html {
	background-color: #404040;
}

body {
	
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	width: 50%;
	background-color: #ffffff;
	
}

img {
	max-width: 100%
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000
}


table {
	padding-left: 5px;
	border-spacing: 0px;
	width: 100%;
}

th.sidebar {
	text-align: left;
	vertical-align: top;
	padding: 25px;
	padding-top: 30px;
	background-color: #ffde59;
	border: #ffffff;
	border-left: #000000;
	border-right: #000000;
	border-width: 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 9pt;
}

tr {
	
	background-color: #FFFFFF;
	
}



td.description {
	color: #404040;
	font-size: 11pt;
	padding-top: 10px;
	padding-bottom: 20px;
	
	display:block
}

td.heading {

	cursor: pointer;	
	background-color: #ffde59;
	padding-left: 10px;
	border: #ffffff;
	border-left: #000000;
	border-width: 1px;
	border-style: solid;
	max-height: 15px;
}

td.heading:hover {
	background-color: #ffa959;
}

b {
	color: #000000
}

i {
	font-size: 9pt;
}

h1 {
	font-family: Arial, Helvetica, sans-serif	;
	font-size: 22pt;
	margin-top: 20px;
	margin-bottom: 0px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	margin-top: 0px;
	margin-bottom: 0px;
}
