html {
	padding-top: 30px;
	
	background-color: #939B62;
}

body {
	
	
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	width: 50%;
	background-color: #ffffff;
	
}

img {
	max-width: 100%
}

.icon {
	padding: 8px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000
}


table {
	border: #000000;
	border-width: 1px;
	border-style: solid;
	padding-left: 5px;
	border-spacing: 0px;
	width: 100%;
}

th.sidebar {
	text-align: left;
	vertical-align: top;
	padding: 25px;
	padding-top: 30px;
	background-color: #FFD56F;
	
	font-size: 9pt;
}

tr {
	
	background-color: #FFFFFF;
	
}

td.intro {
	
	font-family: 'Times New Roman', Times, serif;
	color: #acacac;
	font-size: 14pt;
	padding-top: 20px;
	padding-bottom: 40px;
	font-style: italic;
}

td.description {
	color: #404040;
	font-size: 12pt;
	padding-top: 10px;
	padding-bottom: 60px;
	font-family: 'Times New Roman', Times, serif;
	display:block
}

td.heading {

	cursor: pointer;	
	background-color: #FFD56F;
	
	padding-left: 10px;
	border: #ffffff;
	border-left: #000000;
	border-width: 1px;
	border-style: solid;
	max-height: 15px;
}

td.heading:hover {
	background-color: #FF7B54;
}

b {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000
}

.duration {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #757575;
	font-style: italic;
	padding-top: 3px;;
	padding-bottom: 8px;
	
}

.tags {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #757575;
	font-style: italic;
	padding-top: 3px;;
	padding-bottom: 8px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22pt;
	margin-top: 40px;
	margin-bottom: 0px;
	text-align: left;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}
